.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: hidden;
}
.arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #2facfe;

  .MuiSvgIcon-root {
    font-size: 1.8rem;
  }
}
