.main-home-container{
  height: 100vh;
}
.home-music-container {
  display: flex;
  height: 80vh;
  .sidebar-home {
    flex: 0.2;
  }
  .main-home {
    flex: 0.8;
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .bottom-navigation {
    div {
      flex-shrink: 1;

      svg {
        font-size: 1.1rem;
      }
    }
  }
}



@media screen and (max-width: 500px) {
  .footer-player {
    .curr-music-details {
      display: none;
    }
    .playback-widgets {
      display: none;
    }
  }

  .navbar-container .nav-item .navbar-brand {
    font-size: 1.4rem;
  }
  
  .search-result {
    right: 0px !important;
  }

  .song-name {
    font-size: 20px;
  }


}

@media screen and (max-width: 600px) {
  .home-music-container{
    height: 66vh !important;
  }

  .navbar-container {
    height: unset;
  }

  .navbar-container .nav-item {
    flex-direction: column;
    height: auto;
    grid-gap: 20px;
  }

  .navbar-container .nav-item .search-container {
    margin-bottom: 1rem;
    width: 100%;
  }

  .navbar-container .nav-item .search-container .search-bar .search-icon {
    top: unset;
  }

  .music-container {
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }

  .list-music-card .list-music-card-desc .list-song-name {
    font-size: 1rem;
  }

  .list-music-card-cover {
    img {
      width: 60px;
      height: 60px;
    }
  }
  
  .list-music-card:hover {
    .list-play-circle {
      display: none !important;
    }
  }

  .container {
    .music-container {
      justify-content: center !important;
      align-items: center !important;
      gap: 0px !important;
      flex-direction: column;
    }
  }
  .ReactModal__Content{
    top: 40px !important;
    left: 20px !important;
    right: auto !important;
    min-width: 400px !important;
  }
}
@media screen and (max-width:361px){
  .home-music-container{
    height: 56vh !important;
  }
}
@media screen and (max-width:500px){
  .ReactModal__Content{
    top: 30px !important;
    left:0px !important;
    right: 0px !important;
    min-width: 300px !important;
margin: 0 auto;
  }
}
@media screen and (max-width: 820px) {
  .curr-music-details {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .footer-player{
    position: fixed;
    bottom: 67px;
  }
  .bottom-navigation {
    display: flex;
  
  }
.sidebar-home{
  display: none;
}

  .home-music-container .main-home {
    flex: 1;
    width: 100%;
  }

  .container {
    height: 70vh;
    overflow-x: hidden;
  }
.home-music-container{
  height: 71vh;
}
  .music-card-container {
    height: 70vh;
  }

  .list-music-Container {
    height: 70vh;
  }

  .list-music-card-container{
    height: 70vh;
  }

  .footer-player {
    .playback-controls {
      justify-content: flex-end;
      flex-grow: 0;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    .music-details {
      flex-direction: column;

      .music-lyrics-container {
        margin-top: 0px;
        max-height: 400px;
        display: flex;
        width: 100%;
      }
    }
  }
}
